<div class="card card-body">
    <form action="/inventory"  enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label>Load Inventory</label>
            <input type="file" class="form-control-file"  name="inventoryFile">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div><br>

<div class="card card-body">
    <form action="/inventory/addSold"  enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label>Load Sold Inventory</label>
            <input type="file" class="form-control-file"  name="soldInventory">
        </div>
        <button type="submit" class="btn btn-primary">Submit Sold Inventory</button>
    </form>
</div>