

<div class="card card-body">
    <form action="/addInventory"  enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label>Load Inventory</label>
            <input type="file" class="form-control-file"  name="inventoryFile">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>