<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Movies List</h1>
    <H1>Batman</H1>
    <img src="http://localhost:3000/batman.jpg" height="50px" width="50px"/>
    <h1>Superman</h1>
    <img src="http://localhost:3000/superman.jpg" height="50px" width="50px"/>
    <h1>Joker</h1>
    <img src="http://localhost:3000/joker.jpg" height="50px" width="50px"/>
    
</body>
</html>