<div class="jumbotron text-center">
        <form>
          <div class="form-row">

            <div class="form-group col-md-2">
              <label for="inputYear"></label>
              <select id="inputYear" class="form-control">
                <option selected>Year</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <label for="inputMake"></label>
              <select id="inputMake" class="form-control">
                <option selected>Vehicle Make</option>
                <option value="chrysler">Chrysler</option>
                <option value="dodge">Dodge</option>
                <option value="jeep">Jeep</option>
                <option value="ram">Ram</option>
                <option value="chevrolet">Chevrolet</option>
              </select>
              </div>
            
             <div class="form-group col-md-3">
              <label for="inputModel"></label>
              <select id="inputModel" class="form-control">
                <option selected>Model</option>
                <option value="chrysler">Chrysler</option>
                <option value="dodge">Dodge</option>
                <option value="jeep">Jeep</option>
                <option value="ram">Ram</option>
                <option value="chevrolet">Chevrolet</option>
              </select>
            </div>
            
            
          </div>
          <button type="submit" class="btn btn-primary btn-md btn-block">Submit</button>
        </form> 
</div>
    